In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pandas.util.testing as tm
%matplotlib inline 
sns.set(color_codes=True)

<ipython-input-1-3a1b72c05678>:5: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
data = pd.read_excel("data1.xlsx")

In [3]:
data

,Customer ID,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,110028,Female,Loyal Customer,26,Business travel,Business,1142,2.0,2.0,2.0,...,5.0,4.0,3.0,4.0,4.0,4.0,5.0,0,0.0,1
1,119299,Male,Loyal Customer,61,Business travel,Business,214,3.0,3.0,3.0,...,3.0,3.0,4.0,4.0,3.0,3.0,3.0,0,0.0,1
2,96462,Female,Loyal Customer,52,Business travel,Business,2035,4.0,3.0,4.0,...,5.0,5.0,5.0,5.0,4.0,5.0,4.0,4,0.0,1
3,34991,Female,disloyal Customer,24,Business travel,Eco,1182,4.0,5.0,5.0,...,2.0,3.0,3.0,5.0,3.0,5.0,2.0,0,0.0,0
4,105420,Female,disloyal Customer,23,Business travel,Eco,452,5.0,0.0,5.0,...,1.0,4.0,5.0,5.0,3.0,5.0,1.0,54,44.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,114501,Female,disloyal Customer,38,Business travel,Business,308,3.0,3.0,3.0,...,4.0,1.0,1.0,4.0,2.0,3.0,4.0,39,26.0,0
129876,73302,Male,Loyal Customer,26,Business travel,Business,3960,1.0,1.0,1.0,...,4.0,4.0,2.0,5.0,4.0,4.0,4.0,45,48.0,1
129877,40017,Male,disloyal Customer,13,Business travel,Eco,525,2.0,NaN,2.0,...,3.0,3.0,1.0,3.0,1.0,4.0,3.0,0,0.0,0
129878,74030,Female,Loyal Customer,60,Business travel,Business,1071,2.0,2.0,2.0,...,3.0,3.0,4.0,3.0,5.0,3.0,1.0,0,0.0,1
129879,28852,Female,Loyal Customer,41,Business travel,Business,3636,1.0,1.0,1.0,...,4.0,4.0,4.0,4.0,5.0,4.0,2.0,0,0.0,1

In [3]:
data = data.drop(['Customer ID'],axis=1)

In [4]:
data.isnull().sum()

Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Inflight wifi service                  4
Departure/Arrival time convenient      4
Ease of Online booking                 3
Gate location                          8
Food and drink                         5
Online boarding                        6
Seat comfort                           1
Inflight entertainment                 4
On-board service                       3
Leg room service                       2
Baggage handling                       2
Checkin service                        3
Inflight service                       1
Cleanliness                            2
Departure Delay in Minutes             0
Arrival Delay in Minutes             393
satisfaction                           0
dtype: int64

In [5]:
data['Inflight wifi service']=data['Inflight wifi service'].replace([0],[None])
data['Departure/Arrival time convenient']=data['Departure/Arrival time convenient'].replace([0],[None])
data['Cleanliness']=data['Cleanliness'].replace([0],[None])
data['Ease of Online booking']=data['Ease of Online booking'].replace([0],[None])
data['Gate location']=data['Gate location'].replace([0],[None])
data['Food and drink']=data['Food and drink'].replace([0],[None])
data['Online boarding']=data['Online boarding'].replace([0],[None])
data['Seat comfort']=data['Seat comfort'].replace([0],[None])
data['Inflight entertainment']=data['Inflight entertainment'].replace([0],[None])
data['On-board service']=data['On-board service'].replace([0],[None])
data['Leg room service']=data['Leg room service'].replace([0],[None])
data['Baggage handling']=data['Baggage handling'].replace([0],[None])
data['Checkin service']=data['Checkin service'].replace([0],[None])
data['Inflight service']=data['Inflight service'].replace([0],[None])

In [6]:
data.isnull().sum()

Gender                                  0
Customer Type                           0
Age                                     0
Type of Travel                          0
Class                                   0
Flight Distance                         0
Inflight wifi service                3920
Departure/Arrival time convenient    6685
Ease of Online booking               5685
Gate location                           9
Food and drink                        137
Online boarding                      3086
Seat comfort                            2
Inflight entertainment                 22
On-board service                        8
Leg room service                      600
Baggage handling                        2
Checkin service                         4
Inflight service                        6
Cleanliness                            16
Departure Delay in Minutes              0
Arrival Delay in Minutes              393
satisfaction                            0
dtype: int64

In [7]:
data.count()

Gender                               129880
Customer Type                        129880
Age                                  129880
Type of Travel                       129880
Class                                129880
Flight Distance                      129880
Inflight wifi service                125960
Departure/Arrival time convenient    123195
Ease of Online booking               124195
Gate location                        129871
Food and drink                       129743
Online boarding                      126794
Seat comfort                         129878
Inflight entertainment               129858
On-board service                     129872
Leg room service                     129280
Baggage handling                     129878
Checkin service                      129876
Inflight service                     129874
Cleanliness                          129864
Departure Delay in Minutes           129880
Arrival Delay in Minutes             129487
satisfaction                         129880
dtype: int64

In [8]:
data = data.dropna()

In [9]:
data.head()

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,...,5,4,3,4.0,4,4,5,0,0.0,1
1,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,3,...,3,3,4,4.0,3,3,3,0,0.0,1
2,Female,Loyal Customer,52,Business travel,Business,2035,4,3,4,4,...,5,5,5,5.0,4,5,4,4,0.0,1
3,Female,disloyal Customer,24,Business travel,Eco,1182,4,5,5,4,...,2,3,3,5.0,3,5,2,0,0.0,0
5,Female,Loyal Customer,33,Business travel,Business,1561,1,1,1,1,...,4,4,4,3.0,5,4,2,0,0.0,1

In [10]:
data['Inflight wifi service']=data['Inflight wifi service'].astype(float)
data['Departure/Arrival time convenient']=data['Departure/Arrival time convenient'].astype(float)
data['Cleanliness']=data['Cleanliness'].astype(float)
data['Ease of Online booking']=data['Ease of Online booking'].astype(float)
data['Gate location']=data['Gate location'].astype(float)
data['Food and drink']=data['Food and drink'].astype(float)
data['Online boarding']=data['Online boarding'].astype(float)
data['Seat comfort']=data['Seat comfort'].astype(float)
data['Inflight entertainment']=data['Inflight entertainment'].astype(float)
data['On-board service']=data['On-board service'].astype(float)
data['Leg room service']=data['Leg room service'].astype(float)
data['Baggage handling']=data['Baggage handling'].astype(float)
data['Checkin service']=data['Checkin service'].astype(float)
data['Inflight service']=data['Inflight service'].astype(float)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119167 entries, 0 to 126793
Data columns (total 23 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Gender                             119167 non-null  object
 1   Customer Type                      119167 non-null  object
 2   Age                                119167 non-null  int64
 3   Type of Travel                     119167 non-null  object
 4   Class                              119167 non-null  object
 5   Flight Distance                    119167 non-null  int64
 6   Inflight wifi service              119167 non-null  float64
 7   Departure/Arrival time convenient  119167 non-null  float64
 8   Ease of Online booking             119167 non-null  float64
 9   Gate location                      119167 non-null  float64
 10  Food and drink                     119167 non-null  float64
 11  Online boarding                    119167 non-null  float64
 12  Seat comfort                       119167 non-null  float64
 13  Inflight entertainment             119167 non-null  float64
 14  On-board service                   119167 non-null  float64
 15  Leg room service                   119167 non-null  float64
 16  Baggage handling                   119167 non-null  float64
 17  Checkin service                    119167 non-null  float64
 18  Inflight service                   119167 non-null  float64
 19  Cleanliness                        119167 non-null  float64
 20  Departure Delay in Minutes         119167 non-null  int64
 21  Arrival Delay in Minutes           119167 non-null  float64
 22  satisfaction                       119167 non-null  int64
dtypes: float64(15), int64(4), object(4)
memory usage: 20.0+ MB

In [12]:
data=pd.get_dummies(data,drop_first=True)

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119167 entries, 0 to 126793
Data columns (total 24 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Age                                119167 non-null  int64
 1   Flight Distance                    119167 non-null  int64
 2   Inflight wifi service              119167 non-null  float64
 3   Departure/Arrival time convenient  119167 non-null  float64
 4   Ease of Online booking             119167 non-null  float64
 5   Gate location                      119167 non-null  float64
 6   Food and drink                     119167 non-null  float64
 7   Online boarding                    119167 non-null  float64
 8   Seat comfort                       119167 non-null  float64
 9   Inflight entertainment             119167 non-null  float64
 10  On-board service                   119167 non-null  float64
 11  Leg room service                   119167 non-null  float64
 12  Baggage handling                   119167 non-null  float64
 13  Checkin service                    119167 non-null  float64
 14  Inflight service                   119167 non-null  float64
 15  Cleanliness                        119167 non-null  float64
 16  Departure Delay in Minutes         119167 non-null  int64
 17  Arrival Delay in Minutes           119167 non-null  float64
 18  satisfaction                       119167 non-null  int64
 19  Gender_Male                        119167 non-null  uint8
 20  Customer Type_disloyal Customer    119167 non-null  uint8
 21  Type of Travel_Personal Travel     119167 non-null  uint8
 22  Class_Eco                          119167 non-null  uint8
 23  Class_Eco Plus                     119167 non-null  uint8
dtypes: float64(15), int64(4), uint8(5)
memory usage: 18.8 MB

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
x_train,x_test,y_train,y_test = train_test_split(data.drop('satisfaction',axis=1),data['satisfaction'],test_size=0.30,random_state=101)

In [27]:
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression()
logmodel.fit(x_train,y_train)
predictions = logmodel.predict(x_test)

C:\Users\ADMIN\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [28]:
score = logmodel.score(x_test, y_test)
print(score)

0.8264384213029006

In [17]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 50, criterion = 'entropy', random_state = 0)
classifier.fit(x_train, y_train)

RandomForestClassifier(criterion='entropy', n_estimators=50, random_state=0)

In [18]:
y_pred = classifier.predict(x_test)

# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [19]:
cm

array([[20068,   431],
       [  973, 14279]], dtype=int64)

In [20]:
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = classifier, X = x_train, y = y_train, cv = 10)
accuracies.mean()

0.9605112023862045

In [22]:
from sklearn.model_selection import GridSearchCV
parameters = [{'n_estimators': [10,50,100], 'criterion': ['entropy']},
              {'n_estimators': [10,50,100], 'criterion': ['gini']}]
grid_search = GridSearchCV(estimator = classifier,
                           param_grid = parameters,
                           scoring = 'accuracy',
                           cv = 10,
                           n_jobs = -1)
grid_search = grid_search.fit(x_train, y_train)
best_accuracy = grid_search.best_score_
best_parameters = grid_search.best_params_

In [23]:
best_parameters

{'criterion': 'gini', 'n_estimators': 100}

In [24]:
best_accuracy

0.961146567502659